.top_page
  .top_page__header
    .top_page__header__inner
      %h1 コメント投稿ページ
    .list
      %ul.list__left
        
      %ul.list__right
        - if user_signed_in?
          %li.list__right__log_in
            = link_to "ログアウト", destroy_user_session_path, method: :delete
          %li.list__right__log_in
            = link_to "マイページ", user_path(current_user.id)
        - else 
          = link_to "ユーザー登録", new_user_registration_path
          = link_to "ログイン", new_user_session_path 
          
.main
  .showmain
    .comment 
      .commentBox
        .commentContents
          = form_for @post do |form|
            = form.text_area :content, class: 'form_area'
            = form.submit
          .comments
            %h4 投稿一覧
            - @posts.each do |post|
              .comments__area
                .comment_creater
                  .comments__email
                    =link_to post.user.email, post_path(post.id)
                  .comments__content
                    = post.content
                  .comment_date
                    = post.created_at.strftime("%m/%d %H:%M")
    